body {
  background: #f6f6f6;
  font-family: 'Jost', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h2,
p {
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
}
.categories {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  border-bottom: 2px solid #eff1f7;
  margin-bottom: 20px;

  &__btn {
    background: none;
    border: none;
    cursor: pointer;
    height: 40px;
    transition: all linear 0.3s;
    font-size: 24px;
    &:hover {
      color: #37c4cd;
      cursor: pointer;
    }
  }
}
